* {
  box-sizing: border-box;
}

h1 {
  color: #0099cc;
}

.main-header {
  text-align: left;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #444;
}

nav a {
  color: gold;
  padding: 14px 20px;
  text-decoration: none;
  text-align: justify;
}

.body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: [col] 25% [col] 24% [col] 25% [col] 24%;
  grid-template-rows: [row] 250% [row] 250% [row] 250%;
  background-color: #fff;
  color: #444;
  text-align: center;
}

.box {
  background-color: #444;
  color: #0099cc;
  border-radius: 5px;
  padding: 20px;
  font-size: 125%;
  border: solid gold;
}

.box:hover {
  background-color: #c4bac4;
}

.a {
  grid-column: col / span 2;
  grid-row: row;
}

.a:visted {
  color: yellow;
}

.b {
  grid-column: col 3 / span 2;
  grid-row: row;
}

.b:visted {
  color: yellow;
}

.c {
  grid-column: col;
  grid-row: row 2;
  background-image: url(./Images/headshot.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c:visted {
  color: yellow;
}

.d {
  grid-column: col 2 / span 3;
  grid-row: row 2;
  background-image: url(./Images/demo.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.d:visted {
  color: yellow;
}

@media screen and (max-width: 768px) {
  body {
    background-color: blue;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: black;
  }
}
